
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: ' poppins ', sans-serif;

}
#container{
    width: 100%;  
    min-height:100vh ; /* Full height for the container */  
    background-image:linear-gradient(rgba(180, 109, 109, 0.5), rgba(223, 115, 115, 0.3)), /* Color overlay */  
    url("./assets/moving\ van.jpg");  
    background-size: cover; /* Cover the entire container */  
    background-position: center; /* Center the image */  
    background-repeat: no-repeat; /* Prevent repetition */  
    color: white;
    padding:10px 5% ;
}
nav{
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:5px 0;
   
}
#header-img{
    width: 150px;
    cursor: pointer;
}
nav ul{
    width: 100%;
    list-style: none;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 700;
    cursor: pointer;
   
}

nav ul li a{
    text-decoration: none;
    font-weight:1.5rem;
    color: #fff;
}
.icon{
    width:40px;
}
.button{
   display: flex;
   align-items: center;
    background-color: #4F1787;
    color: #ffffff;
    font-size: 20px;
    padding:5px 10px ;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    border:none;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: all 0.5s;
    width: 180px;
  }
  
  .button1 span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    padding-left: 5px;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }
   #submit{
    display: block;
    max-width: 150px;
    width: 100%;
    font-weight: 650;
    letter-spacing: 2px;
    height: 35px;
    margin: 0.9rem auto;
    border: 0;
    border-radius: 2px;
    background-color: #FFB200;
    cursor: pointer;
  }
  #form {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    align-items: center;
  }
 #form{
   
    margin-top: 30px;
    
 }
 #form #email{
   
    max-width: 275px;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    height: 35px;
 }
 #form p{
    font-size: 1.4rem;
    margin-top: 100px;
    font-weight: 550;
    color: #fff;
    line-height: 1.6;
    letter-spacing: 1.4px;
    width: 60%;
 }
 #form h1{
    display: block;
    height: 50px;
    font-weight: 750;
    font-size: 3rem;
    color: black;
    
 }
 span{
    display: block;
 }
 .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    
}
.pb-2{
    font-size: 2rem;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: #FFB200;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 10px;
}
hr{
    margin-top: 40px;
    margin-bottom: 20px;
}
.features{
    margin-top: 60px;
}
.feature{
    margin: 25px 10px;
    padding:5px 20px;
    font-weight: 300;
   background-color: rgba(220, 20, 60, 0.5);
    border-radius: 10px;
}
/*background-color: rgba(200, 180, 160, 0.6);*/
.fs-2{
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.feature p{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.icon-link{
    text-decoration:none ;
    display: inline-flex;
    color: #14074f;
    font-weight: 600;
   
    padding: 5px;
    border-radius: 5px;
}
.icon-link:hover{
    background-color:#fff;
    color: #4F1787;
}
.icon-link .chevron-right{
    padding-left: 5px;
}
.video-section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:40px 0 ;
}
.row-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#card-list li{
    list-style: none;
    margin-bottom: 10px;
    height: 35px;
    width: 100%;
    background-color:rgba(220, 20, 60, 0.4) ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.col-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% / 3);
    margin-right: px;
    border: 1px solid #000;
    border-radius: 3px;
}

.card-header{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    height: 50px;
    background-color:#FFB200 ;
    color: black;
}
.footer-section footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.social-icons {
    display: flex;
    font-size: 2rem;
    width: 100px;
    gap: 20px;
    align-items: flex-start;
    
  }
  .social-icons a{
    color: linen;
  }
  
  @media only screen and (max-width: 550px){
    .hero-title {
        font-size: 6rem;
      }
      .social-icons {
        font-size: 2rem;
      }
  }